/**
 * @desc:      一个常用样式的库
 * @author:    李磊
 * @date:      2017.9.19
 * @version:   v1.0
 * @contact:   QQ->1052048489 Email->1052048489@qq.com
 */

/*
 * 布局策略：非响应式布局
 *         1、限定页面宽度
 *         2、一般用于复杂度很高的页面
 *         
 *         响应式布局
 *         1、根据不同分辨率的屏幕设计不同界面，配合css媒体查询实现
 *         2、尽量使用flex布局页面
 *         3、元素的宽高尽量使用百分比
 *         4、图标能使用字体图标或者svg图标更好
 */

/*
 * 重置浏览器默认样式
 */
*{margin: 0px;padding: 0px;}
/*去除按钮的默认边框和背景等，以及webkit上的点击效果*/
button{outline: none;border: none;border-radius:none;background-color: transparent;background: transparent;-webkit-tap-highlight-color:rgba(0,0,0,0);}
/*去除输入框的默认边框和背景等，以及webkit上的点击效果*/
input[type=text],input[type=password]{outline: none;border: none;border-radius:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
/*去除输入框上的删除按钮*/
input::-webkit-search-cancel-button{display: none;}
/*禁止textarea伸缩*/
textarea{resize: none;}
iframe{border: none;}
ul,li{list-style: none;}

/*margin水平居中*/
.m-cen{margin: 0 auto;}

/*垂直居中（兼容IE、webkit、mozila）*/
.c-ver{display: -webkit-box;-webkit-box-align: center;display: -ms-flexbox;-ms-flex-align: center;display: -moz-box;-moz-box-align: center;display: -o-box;-o-box-align: center;}
/*水平居中（兼容IE、webkit、mozila）*/
.c-hor{display: -webkit-box;-webkit-box-pack: center;display:-ms-flexbox;-ms-flex-pack:center;display: -moz-box;-moz-box-pack: center;display: -o-box;-o-box-pack: center;}
/*居中（兼容IE、webkit、mozila）*/
.center{display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;display:-ms-flexbox;-ms-flex-pack:center;-ms-flex-align:center;display:-moz-box;-moz-box-pack:center;-moz-box-align:center;display:-o-box;-o-box-pack:center;-o-box-align:center;}

/*示例渐变色（可根据实际需要修改）*/
.gradient{
     /*低版本IE*/
     filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=100,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#ff0000',endcolorstr='#0000ff',gradientType=1);/*IE7*/
     -ms-filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=100,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr='#ff0000',endcolorstr='#0000ff',gradientType=1);/*IE8*/
     /*高版本IE*/
     background: -ms-linear-gradient(top, rgba(255, 0, 0, 1),rgba(0, 0, 255, 1));/*IE9*/
     /*firefox*/
     background:-moz-linear-gradient(top, rgba(255, 0, 0, 1), rgba(0, 0, 255, 1));
     /*低版本webkit*/
     background:-webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 1)), to(rgba(0, 0, 255, 1)));
     /*高版本webkit*/
     background:-webkit-linear-gradient(top, rgba(255, 0, 0, 1), rgba(0, 0, 255, 1));
     /*opra*/
     background:-o-linear-gradient(top, rgba(255, 0, 0, 1), rgba(0, 0, 255, 1));
     /*不支持的浏览器*/
     background:white;
}

/*文本单行显示（需要固定元素宽度才有效）*/
.single{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space: nowrap;}

/*多行显示（根据需要修改，适用于webkit内核浏览器，测试没通过）*/
.multiple{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}

/*横向滚动*/
.v-scroll{overflow-x: scroll;overflow-y:hidden;white-space: nowrap;}

/*跑马灯效果（适用于webkit内核浏览器，测试没通过，建议使用<marquee>标签替代）*/
.marquee{
　　white-space: nowrap;　　                /* 文字不折行 */
　　overflow:-webkit-marquee;　　           /* 只有设置为marquee才有滚动效果 */
　　-webkit-marquee-direction:left;　　     /* 文字滚动方向 可选值为left | right | up | down */
　　-webkit-marquee-speed:normal;　　       /* 文字滚动速度 可选值为slow | normal | fast */
　　-webkit-marquee-style:scroll;　　       /* 文字滚动方式 可选值为scroll | slide | alternate */
　　-webkit-marquee-repetition:infinite; 　 /* 文字滚动次数 number | infinite ， infinite即无限次循环滚动 */
}

/*不选中文本*/
.no-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}

/*flex布局*/
.flex-hor{display: -webkit-flex;display: -ms-flexbox;display: -moz-box;display: -o-box;display: flex;flex-direction:row;}
.flex-ver{display: -webkit-flex;display: -ms-flexbox;display: -moz-box;display: -o-box;display: flex;flex-direction:column;}

/*常用弹性值*/
.flex-0{-webkit-box-flex: 0;-ms-flex: 0;-moz-box-flex: 0;-o-box-flex: 0;flex: 0;}
.flex-1{-webkit-box-flex: 1;-ms-flex: 1;-moz-box-flex: 1;-o-box-flex: 1;flex: 1;}
.flex-2{-webkit-box-flex: 2;-ms-flex: 2;-moz-box-flex: 2;-o-box-flex: 2;flex: 2;}
.flex-3{-webkit-box-flex: 3;-ms-flex: 3;-moz-box-flex: 3;-o-box-flex: 3;flex: 3;}
.flex-4{-webkit-box-flex: 4;-ms-flex: 4;-moz-box-flex: 4;-o-box-flex: 4;flex: 4;}
.flex-5{-webkit-box-flex: 5;-ms-flex: 5;-moz-box-flex: 5;-o-box-flex: 5;flex: 5;}
.flex-6{-webkit-box-flex: 6;-ms-flex: 6;-moz-box-flex: 6;-o-box-flex: 6;flex: 6;}
.flex-7{-webkit-box-flex: 7;-ms-flex: 7;-moz-box-flex: 7;-o-box-flex: 7;flex: 7;}
.flex-8{-webkit-box-flex: 8;-ms-flex: 8;-moz-box-flex: 8;-o-box-flex: 8;flex: 8;}
.flex-9{-webkit-box-flex: 9;-ms-flex: 9;-moz-box-flex: 9;-o-box-flex: 9;flex: 9;}

/*flex居中*/
.flex-cen{justify-content:center;}
.flex-sta{justify-content:flex-start;}
.flex-end{justify-content:flex-end;}
.flex-aro{justify-content:space-around;}
.flex-bet{justify-content:space-between;}

/*flex单行*/
.flex-single{flex-wrap: nowrap;}



