
@import './mixin.scss';

// 单行,多行文本省略号
.single-line{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.webkit-multi{
	@include webkit-multi;
	
	&-2line{
		@include webkit-multi;
		-webkit-line-clamp: 2;
	}
	
	&-3line{
		@include webkit-multi;
		-webkit-line-clamp: 3;
	}
}

// 通用隐藏滚动条
.scroll-out-wrapper{
	position: relative;
	overflow: hidden;
	.scroll-y-in-wrapper{
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
		left: 0px;
		top:0px;
	}
	.scroll-x-in-wrapper{
		overflow-y: hidden;
		overflow-x: scroll;
		position: absolute;
		left: 0px;
		top:0px;
	}
}

// flex布局
.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-col{
	display: flex;
	flex-direction: column;
}
.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.align-center{
	display: flex;
	align-items: center;
}
.sp-between{
	justify-content: space-between;
}
.grow{
	flex-grow: 1;
}
.shrink{
	flex-shrink: 1;
}

// 定位
.rel{
	position: relative;
}
.abs{
	position: absolute;
}
.fix{
	position: fixed;
}
.fright{
	float:right;
}
.fleft{
	float:left;
}
.clear::before{
	content: none;
	clear: both;
}